body{
    display: flex;
    justify-content: center;
    padding: 150px;
}

.card{
    width: 280px;
    height: 330px;
    border: 2px solid ;
    border-radius: 25px;
}

h1{
    text-align: center;
}

input{
    margin-bottom: 10px;
    margin-left: 50px;
}

button{
    margin-left: 150px;
    margin-top: 15px;
}